{
  "kols": [
    {
      "id": "混沌与概率1997",
      "name": "混沌与概率1997",
      "platforms": {
        "weibo": { "uid": "1648195723" }
      },
      "expertise": ["宏观", "美股"],
      "reliability": 4,
      "language": "zh"
    },
    {
      "id": "James Lt",
      "name": "James Lt",
      "platforms": {
        "twitter": { "username": "JamesLt196801" }
      },
      "expertise": ["宏观", "美股"],
      "reliability": 4,
      "language": "zh"
    }
  ]
}
